extends ../../layouts/default.pug 
include ../../mixins/pagination.pug


block main 
    section.products-list
        h1.title DANH SÁCH SẢN PHẨM
        .table 
            table(checkbox-multi)
                thead 
                    tr 
                        td.stt STT
                        td.img Hình ảnh
                        td.name Tên sản phẩm
                        td.price Giá
                        td.status Trạng thái
                        td.action Hành động
                tbody 
                    if (products.length > 0)
                        each product, index in products 
                            tr 
                                td.stt #{index + 1}
                                td.img 
                                    img(src=product.thumbnail, alt=product.title)
                                td.name #{product.title}
                                td.price $#{product.price}
                                td.status
                                    if (product.status == "active") 
                                        button(class="active" data-status=product.status data-id=product.id button-change-status)  Hoạt động
                                    else if (product.status == "inactive")
                                        button(class="inactive" data-status=product.status data-id=product.id button-change-status)  Không hoạt động
                        
                                    //- if (product.status == "active") 
                                    //-     a(class="active" href="javascript:;" data-status=product.status data-id=product.id button-change-status)  Hoạt động
                                    //- else if (product.status == "inactive")
                                    //-     a(class="inactive" href="javascript:;" data-status=product.status data-id=product.id button-change-status)  Hoạt động
                                td.action 
                                    button(class = "edit" data-id=product.id button-restore) Khôi phục
                                    button(class = "remove" data-id=product.id button-deleted) Xóa
                    else 
                        .not-found Không tìm thấy sản phẩm !!!
        .pagination
            +pagination(pagination)
        
    form(action="" method="POST" data-path=`${PATH_ADMIN}/products/recycle-bin/deleted` id="form-deleted-item") 
    form(action="" method="POST" data-path=`${PATH_ADMIN}/products/recycle-bin/restore` id="form-restore-item") 

    script(src="/admin/js/trash.js") 
